/* loader.css */
.loader {
  --main-size: 4em;
  --text-color: #ffffff;
  --shine-color: #ffffff40;
  --shadow-color: #aaaaaa;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  user-select: none;
  position: relative;
  font-size: var(--main-size);
  font-weight: 900;
  text-transform: uppercase;
  color: var(--text-color);
  width: 7.3em;
  height: 1em;
  filter: drop-shadow(0 0 0.05em var(--shine-color));
}

.loader .text {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  position: absolute;
}

.loader .text:nth-child(1) { clip-path: polygon(0% 0%,11.11% 0%,11.11% 100%,0% 100%); font-size: calc(var(--main-size)/20); margin-left: -2.1em; opacity: .6; }
.loader .text:nth-child(2) { clip-path: polygon(11.11% 0%,22.22% 0%,22.22% 100%,11.11% 100%); font-size: calc(var(--main-size)/16); margin-left: -.98em; opacity: .7; }
.loader .text:nth-child(3) { clip-path: polygon(22.22% 0%,33.33% 0%,33.33% 100%,22.22% 100%); font-size: calc(var(--main-size)/13); margin-left: -.33em; opacity: .8; }
.loader .text:nth-child(4) { clip-path: polygon(33.33% 0%,44.44% 0%,44.44% 100%,33.33% 100%); font-size: calc(var(--main-size)/11); margin-left: -.05em; opacity: .9; }
.loader .text:nth-child(5) { clip-path: polygon(44.44% 0%,55.55% 0%,55.55% 100%,44.44% 100%); font-size: calc(var(--main-size)/10); opacity: 1; }
.loader .text:nth-child(6) { clip-path: polygon(55.55% 0%,66.66% 0%,66.66% 100%,55.55% 100%); font-size: calc(var(--main-size)/11); margin-left: .05em; opacity: .9; }
.loader .text:nth-child(7) { clip-path: polygon(66.66% 0%,77.77% 0%,77.77% 100%,66.66% 100%); font-size: calc(var(--main-size)/13); margin-left: .33em; opacity: .8; }
.loader .text:nth-child(8) { clip-path: polygon(77.77% 0%,88.88% 0%,88.88% 100%,77.77% 100%); font-size: calc(var(--main-size)/16); margin-left: .98em; opacity: .7; }
.loader .text:nth-child(9) { clip-path: polygon(88.88% 0%,100% 0%,100% 100%,88.88% 100%); font-size: calc(var(--main-size)/20); margin-left: 2.1em; opacity: .6; }

.loader .text span {
  animation: scrolling 2s cubic-bezier(0.1,0.6,0.9,0.4) infinite;
}

@keyframes scrolling {
  0% { transform: translateX(-30%); }
  100% { transform: translateX(30%); }
}
